<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team Sigularity</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
        @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
    </style>
    <link rel="stylesheet" href="../static/main.css" />
    <!-- <link rel="stylesheet" href="main.css" /> -->
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="innerContainer">
                <div class="viewDiv">
                    <div id="textDiv"></div>
                    <div class="videoDiv" id="videoDiv"></div>
                </div>
                <div class="button" id="btnDiv">
                    <button id="btn">Start</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let btn = document.querySelector("#btn");
        let speechLogo = true;
        var speech = true;
        btn.addEventListener("click", function () {
            window.SpeechRecognition = window.webkitSpeechRecognition;
            const recognition = new SpeechRecognition();

            SpeechRecognition.interimResults;
            recognition.addEventListener("result", (e) => {
                let transcript = Array.from(e.results)
                    .map((result) => result[0])
                    .map((result) => result.transcript)
                    .join("");
                document.getElementById("textDiv").innerHTML = transcript;
                function remove(str) {
                    return str.replace(/[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/g, "");
                }

                let plainTxt = remove(transcript);
                textToFastapi(plainTxt);
            });

            if (speech == true) {
                recognition.start();
            }
        });
        function textToFastapi(transcript) {
            fetch("/get_video", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    text: transcript,
                }),
            })
                .then((response) => {
                    if (!response.ok) {
                        throw new Error("Network response was not ok");
                    }
                    return response.blob();
                })
                .then((blob) => {
                    const videoUrl = URL.createObjectURL(blob);
                    const videoElement = document.createElement("video");
                    videoElement.src = videoUrl;
                    videoElement.autoplay = true;
                    videoElement.style.width = "80%";
                    videoElement.style.height = "90%";

                    list = document.getElementById("videoDiv");

                    if (list.firstElementChild)
                        list.removeChild(list.firstElementChild);
                    list.appendChild(videoElement);
                })
                .catch((error) => {
                    console.error("Error:", error);
                });
        }
    </script>
</body>

</html>
